:root {
  --black: #000;
  --white: #fff;
  --gray: #b8b8b8;
  --gray-light: #ececec;
  --gold: #fbf0dd;
  --block-margin-top: 40px
}
@media (min-width:1024px) {
  :root {
    --block-margin-top: 90px
  }
}