// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
	font-family: "TT Travels";
	src: local("TTTravels-Light"), url("../fonts/TTTravels-Light.woff2") format("woff2"), url("../fonts/TTTravels-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: local("TTTravels-Medium"), url("../fonts/TTTravels-Medium.woff2") format("woff2"), url("../fonts/TTTravels-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: local("TTTravels-Regular"), url("../fonts/TTTravels-Regular.woff2") format("woff2"), url("../fonts/TTTravels-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TT Travels";
	src: local("TTTravels-Italic"), url("../fonts/TTTravels-Italic.woff2") format("woff2"), url("../fonts/TTTravels-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
