.mission {
	position: relative;
	margin: 5px 0 150px;

	// .mission__cards
	&__cards {
		display: grid;
		gap: 50px;
		padding-top: 100px;
		position: relative;
		z-index: 1;

		@include resp-from(xl) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 160px 330px;
		}
	}

	// .mission__card
	&__card {
		position: relative;
		border-radius: 15px;
		background: $gold;
		padding: 40px 30px 25px;
	}

	// .mission__card-h
	&__card-h {
		font-size: rem(30);
		font-weight: 500;
		margin-bottom: 21px;
	}

	// .mission__card-t
	&__card-t {
		font-size: rem(20);
	}

	// .mission__card-c
	&__card-c {
		position: absolute;
		top: 26px;
		right: 26px;
		font-size: rem(15);
		font-weight: 500;
	}

	// .mission__bgr
	&__bgr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 690px;
		background: url(../img/circles.svg) center no-repeat;
	}

	// .mission__logo
	&__logo {
		@include resp-to(xl) {
			display: none;
		}
	}

	// .mission__header
	&__header {
		text-transform: uppercase;
		font-size: rem(30);

		&::before {
			content: "";
			display: block;
			background: $black;
			width: 120%;
			position: relative;
			height: 1px;
			margin: 14px 0 14px -10%;
		}

		@include resp-to(xl) {
			display: none;
		}
	}
}
