<div class="about">
	<div class="row">
		<div class="col-md-3 col-lg-5">
			<img src="@img/about.jpg" width="753" height="500" alt="" loading="lazy">
		</div>
		<div class="col-md-9 col-lg-7 about__text">
			<div class="about__header">
				Сила и нежность, гордость и скромность — все это воплощено в их образах.
			</div>
			<p>На территории России проживает более 190 национальностей, и каждую из них представляет множество красавиц, одна непохожая на другую. У них разные культурные особенности, разная природа, разные красота и душа.</p>
			<p>Уникальность женщин России, как суть тайной красоты стала вдохновением для «Русской Косметики». Бренд заботливо объединяет их, как частички калейдоскопа, чтобы подчеркнуть эту многогранность и показать её всей стране, амбициозно заявив о себе.</p>
			<p>Коллекция «Русской Косметики» создана оттенять и сохранять естественную красоту женщин из самых разных уголков страны, пробуждать внутренний огонь, ухаживать не только за телом, но и душой, открывая новые грани женственности.</p>
		</div>
	</div>
	<div class="row about__bottom">
		<div class="about__bottom-text">
			Каждая линейка — это сбалансированные безопасные ингредиенты, роскошные ароматы, приятные текстуры, мягкое нанесение, эффективно действующие формулы.
		</div>
	</div>
</div>