<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__molecule-left">
				<div class="carousel__title">СПРЕЙ-БАЛЬЗАМ</div>
				<div class="carousel__subtitle">hair spray&balm</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__drop">
				<div class="carousel__img">
					<img src="@img/carousel-hair-spray-balm/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">СПРЕЙ-БАЛЬЗАМ ДЛЯ ВОЛОС</div>
					<div class="carousel__text">ДЛЯ ЛЕГКОГО РАСЧЕСЫВАНИЯ И БЛЕСКА</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="hair-spray-balm" data-src="#modal-hair-spray-balm-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hair spray</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__molecule-left">
				<div class="carousel__title">СПРЕЙ-БАЛЬЗАМ</div>
				<div class="carousel__subtitle">hair spray&balm</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__drop">
				<div class="carousel__img">
					<img src="@img/carousel-hair-spray-balm/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">СПРЕЙ-БАЛЬЗАМ ДЛЯ ВОЛОС <br>НЕСМЫВАЕМЫЙ «ТЕРМОЗАЩИТА»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="hair-spray-balm" data-src="#modal-hair-spray-balm-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hair spray</div>
			</div>
		</div>
	</div>

</div>



<div id="modal-hair-spray-balm-1" class="modal">
	<div class="m-decor-drops-xl-left-bottom"></div>
	<div class="m-decor-drops-center _v2"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Несмываемый спрей-бальзам для волос «Термозащита» обеспечивает легкое расчесывание, разглаживает запутавшиеся волосы и защищает
				от перегрева при укладке и сушке.</div>
			<div class="modal__text">Формула с кератином и пантенолом идеально подходит для сухих и поврежденных волос, предотвращает ломкость и борется с секущимися кончиками. Спрей-бальзам придает волосам блеск и здоровый вид, предохраняя волосы от негативного воздействия внешних факторов.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-hair-spray-balm/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">СПРЕЙ-БАЛЬЗАМ ДЛЯ ВОЛОС <br>НЕСМЫВАЕМЫЙ «ТЕРМОЗАЩИТА»<br><span>ДЛЯ ЛЕГКОГО РАСЧЕСЫВАНИЯ И БЛЕСКА</span></div>
			<div class="modal__tag">ОЧИЩЕНИЕ</div>
		</div>
	</div>
</div>

<div id="modal-hair-spray-balm-2" class="modal">
	<div class="m-decor-drops-xl-left-bottom"></div>
	<div class="m-decor-drops-top"></div>
	<div class="m-decor-drops--------"></div>
	<div class="m-decor-drops--------"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">кератин</div>
				<div class="modal__desc">заполняет поврежденную структуру волоса, предотвращая ломкость, удерживает влагу в волокнах волоса и сохраняет гидробаланс, интенсивно разглаживает кутикулу волос, делая их мягкими на ощупь и сияющими на вид, повышает эластичность и упругость;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пантенол</div>
				<div class="modal__desc">проникает в структуру волоса, питает и увлажняет его изнутри по всей длине от корней до кончиков, придает им гибкость, делает волосы упругими и эластичными.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-hair-spray-balm/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">СПРЕЙ-БАЛЬЗАМ ДЛЯ ВОЛОС <br>НЕСМЫВАЕМЫЙ «ТЕРМОЗАЩИТА»<br><span>ДЛЯ ЛЕГКОГО РАСЧЕСЫВАНИЯ И БЛЕСКА</span></div>
			<div class="modal__tag">Объём <b>300 мл</b></div>
		</div>
	</div>
</div>