<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__rosem-left">
				<div class="carousel__title">ГЕЛЬ-МАСЛО <span>ДЛЯ ИНТИМНОЙ ГИГИЕНЫ</span></div>
				<div class="carousel__subtitle">oil-in-gel for intimate hygiene</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-left-bottom _av-3">
				<div class="carousel__img">
					<img src="@img/carousel-oil-gel-intim/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ИНТИМНОЙ ГИГИЕНЫ</div>
					<div class="carousel__text">Премиальное очищающее гель-масло для интимного ухода с маслом розмарина и авокадо</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="oil-gel-intim" data-src="#modal-oil-gel-intim-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">intimate hygiene</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="s-decor-drops-left _v4"></div>
		<div class="s-decor-drops-xl-center-bottom"></div>
		<div class="row carousel__slide">
			<div class="col-lg-6 carousel__l l-decor l-decor__rosem-left">
				<div class="carousel__title">ГЕЛЬ-МАСЛО <span>ДЛЯ ИНТИМНОЙ ГИГИЕНЫ</span></div>
				<div class="carousel__subtitle">oil-in-gel for intimate hygiene</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-left-bottom _av-3">
				<div class="carousel__img">
					<img src="@img/carousel-oil-gel-intim/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ИНТИМНОЙ ГИГИЕНЫ <br>«УВЛАЖНЕНИЕ И ЗАЩИТА»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="oil-gel-intim" data-src="#modal-oil-gel-intim-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">intimate hygiene</div>
			</div>
		</div>
	</div>
</div>



<div id="modal-oil-gel-intim-1" class="modal">
	<div class="m-decor-drops-xl-left-bottom"></div>
	<div class="m-decor-drops-center"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Премиальное очищающее гель-масло для интимного ухода с маслом розмарина и авокадо способствует бережному очищению и увлажнению самой нежной кожи.</div>
			<div class="modal__text">Гель-масло с уровнем pH4-4.5 мягко очищает и великолепно смягчает кожу, увлажняет и активизирует ее природную силу, сохраняя эффект свежести на длительное время. Гель-масло подходит для ежедневного применения женщинами с чувствительной кожей, во время критических дней и в период беременности.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-oil-gel-intim/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">ГЕЛЬ-МАСЛО ДЛЯ ИНТИМНОЙ ГИГИЕНЫ</div>
			<div class="modal__tag">ОЧИЩЕНИЕ</div>
		</div>
	</div>
</div>

<div id="modal-oil-gel-intim-2" class="modal">
	<div class="m-decor-drops-center-top"></div>
	<div class="m-decor-rosem-bottom"></div>
	<div class="m-decor-avocado-center-bottom"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло авокадо</div>
				<div class="modal__desc">глубоко питает и увлажняет кожу, успокаивает раздражение и воспаление;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло розмарина</div>
				<div class="modal__desc"> снимает раздражение и воспаление, обладает противовоспалительными
					и антисептическими свойствами;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">молочная кислота</div>
				<div class="modal__desc">активно питает и смягчает кожу, насыщает кожу липидами, препятствует потери влаги;</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-oil-gel-intim/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ГЕЛЬ-МАСЛО ДЛЯ ИНТИМНОЙ ГИГИЕНЫ <br>«УВЛАЖНЕНИЕ И ЗАЩИТА»</div>
			<div class="modal__tag">Объём <b>300 мл</b></div>
		</div>
	</div>
</div>