<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__olive-left">
				<div class="carousel__title">КРЕМ-ЛОСЬОН <span>ДЛЯ РУК И ТЕЛА</span></div>
				<div class="carousel__subtitle">hand & body cream lotion</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-right-center">
				<div class="carousel__img">
					<img src="@img/carousel-hand-body-cream-lotion/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">КРЕМ-ЛОСЬОН ДЛЯ РУК И ТЕЛА</div>
					<div class="carousel__text">Крем-лосьон для рук и тела <br>SOS-восстановление</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="hand-body-cream-lotion" data-src="#modal-hand-body-cream-lotion-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">cream lotion</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__olive-left">
				<div class="carousel__title">КРЕМ-ЛОСЬОН <span>ДЛЯ РУК И ТЕЛА</span></div>
				<div class="carousel__subtitle">hand & body cream lotion</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-right-center">
				<div class="carousel__img">
					<img src="@img/carousel-hand-body-cream-lotion/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">КРЕМ-ЛОСЬОН ДЛЯ РУК И ТЕЛА <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="hand-body-cream-lotion" data-src="#modal-hand-body-cream-lotion-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">cream lotion</div>
			</div>
		</div>
	</div>

</div>









<div id="modal-hand-body-cream-lotion-1" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Крем-лосьон для рук и тела SOS-восстановление с комплексом из благородных масел — это настоящий питательный эликсир для вашей кожи.</div>
			<div class="modal__text">Активный состав эффективно повышает упругость кожи, восстанавливает ее естественный водный баланс и улучшает внешний вид, препятствуя потере влаги. Биокомплекс драгоценных масел интенсивно питает и смягчает кожу, делая ее гладкой и бархатистой, дарит эластичность и увлажнение. Пантенол и пребиотик восстанавливают барьерные функции кожи.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-hand-body-cream-lotion/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">КРЕМ-ЛОСЬОН ДЛЯ РУК И ТЕЛА</div>
			<div class="modal__tag">уход</div>
		</div>
	</div>
</div>

<div id="modal-hand-body-cream-lotion-2" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло ши</div>
				<div class="modal__desc">питает, увлажняет, успокаивает и регенерирует кожу, помогает справиться с шелушением, защищает от вредного воздействия солнца и других внешних факторов;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов, обладает омолаживающим эффектом;
				</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло оливы</div>
				<div class="modal__desc">смягчает и оказывает омолаживающий эффект, против сухости и обезвоженности, способствует восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля, авокадо и тыквы</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление, устраняют шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло кокоса</div>
				<div class="modal__desc">увлажняет, питает, обладает противовоспалительными и регенерирующими свойствами, хорошо очищает, является антиоксидантом, защищает кожу от негативных воздействий окружающей среды;
				</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пребиотик и пантенол</div>
				<div class="modal__desc">подарят эластичность и увлажнение, восстановят барьерные функции кожи и успокоят ее.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-hand-body-cream-lotion/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">КРЕМ-ЛОСЬОН ДЛЯ РУК И ТЕЛА <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
			<div class="modal__tag">Объём <b>300 мл</b></div>
		</div>
	</div>
</div>