<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v3"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__rosem-left">
				<div class="carousel__title">ПЕНА ДЛЯ ВАННЫ</div>
				<div class="carousel__subtitle">bath foam</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-left">
				<div class="carousel__img">
					<img src="@img/carousel-bath-foam/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ПЕНА ДЛЯ ВАННЫ</div>
					<div class="carousel__text">Окунитесь в таинственный и загадочный мир вместе с пеной для ванн, наполненной драгоценными маслами.</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="bath-foam" data-src="#modal-bath-foam-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">bath foam</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v3"></div>
			<div class="s-decor-drops-center _v2"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ПЕНА ДЛЯ ВАННЫ</div>
				<div class="carousel__subtitle">bath foam</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__rosem-right">
				<div class="carousel__img">
					<img src="@img/carousel-bath-foam/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ПЕНА ДЛЯ ВАННЫ <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="bath-foam" data-src="#modal-bath-foam-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">bath foam</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v3"></div>
			<div class="s-decor-drops-center _v2"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ПЕНА ДЛЯ ВАННЫ</div>
				<div class="carousel__subtitle">bath foam</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-right">
				<div class="carousel__img">
					<img src="@img/carousel-bath-foam/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ПЕНА ДЛЯ ВАННЫ <br>«ВОССТАНОВЛЕНИЕ И ТОНУС»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="bath-foam" data-src="#modal-bath-foam-3">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">bath foam</div>
			</div>
		</div>
	</div>
</div>



<div id="modal-bath-foam-1" class="modal">
	<div class="m-decor-drops-xl-left-bottom"></div>
	<div class="m-decor-drops-center-bottom"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Окунитесь в таинственный и загадочный мир вместе с пеной для ванн, наполненной драгоценными маслами.</div>
			<div class="modal__text">Входящие в состав благородные масла помогают снять усталость, оказывают благотворное влияние на сон и насыщают кожу необходимым питанием и увлажнением. Ароматная пена обладает расслабляющим эффектом и дарит Вашему телу ощущение радости и комфорта. Почувствуйте силу природных компонентов и жизненную энергию в воздушных облаках пены для ванн.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-bath-foam/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">ПЕНА ДЛЯ ВАННЫ</div>
			<div class="modal__tag">уход</div>
		</div>
	</div>
</div>

<div id="modal-bath-foam-2" class="modal">
	<div class="m-decor-drops-center-top"></div>
	<div class="m-decor-rosem-top _v2"></div>
	<div class="m-decor-argana-bottom"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов, обладает омолаживающим эффектом;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло розмарина</div>
				<div class="modal__desc">питает, увлажняет, успокаивает и регенерирует кожу, Помогает справиться с зудом или шелушением, защищает от вредного воздействия солнца и других внешних факторов;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло тимьяна</div>
				<div class="modal__desc">обладает мощным антисептическим действием, устраняя различные болезнетворные организмы с поверхности кожи;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля и авокадо</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление, устраняют шелушения;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло лаванды</div>
				<div class="modal__desc">уменьшает воспаление, улучшает кровообращение, восстановят барьерные функции кожи и успокоят ее;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло мяты</div>
				<div class="modal__desc">способствует улучшению цвета кожи, регуляции работы сальных желез, сохранению влаги в коже, борется с куперозом, служит хорошим антисептиком.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-bath-foam/slide-2.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ПЕНА ДЛЯ ВАННЫ <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
			<div class="modal__tag">Объём <b>600 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-bath-foam-3" class="modal">
	<div class="m-decor-drops-center-top"></div>
	<div class="m-decor-xz-oil-2-bottom"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло кокоса</div>
				<div class="modal__desc">увлажняет, питает, обладает противовоспалительными и регенерирующими свойствами, хорошо очищает, является антиоксидантом, защищает кожу от негативных воздействий окружающей среды;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов, обладает омолаживающим эффектом;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло розмарина</div>
				<div class="modal__desc">питает, увлажняет, успокаивает и регенерирует кожу, Помогает справиться с зудом или шелушением, защищает от вредного воздействия солнца и других внешних факторов;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля и авокадо</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление, устраняют шелушения;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло тыквы</div>
				<div class="modal__desc">глубоко питает и увлажняет кожу, устраняет шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло мяты</div>
				<div class="modal__desc">способствует улучшению цвета кожи, регуляции работы сальных желез, сохранению влаги в коже, служит хорошим антисептиком.</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло грейпфрута</div>
				<div class="modal__desc">улучшает тонус кожи, борется с целлюлитом.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-bath-foam/slide-3.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ПЕНА ДЛЯ ВАННЫ <br>«ВОССТАНОВЛЕНИЕ И ТОНУС»</div>
			<div class="modal__tag">Объём <b>600 мл</b></div>
		</div>
	</div>
</div>