<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v3"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__coconut-left">
				<div class="carousel__title">КРЕМ-БАТТЕР <span>ДЛЯ ТЕЛА</span></div>
				<div class="carousel__subtitle">butter cream</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__goji-left">
				<div class="carousel__img">
					<img src="@img/carousel-butter-cream/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">КРЕМ-БАТТЕР ДЛЯ ТЕЛА</div>
					<div class="carousel__text">Крем-баттер для тела — это самая драгоценная забота о вашей коже.</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="butter-cream" data-src="#modal-butter-cream-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">butter cream</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v3"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__goji-left">
				<div class="carousel__title">КРЕМ-БАТТЕР <span>ДЛЯ ТЕЛА</span></div>
				<div class="carousel__subtitle">butter cream</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__olive-left">
				<div class="carousel__img">
					<img src="@img/carousel-butter-cream/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">КРЕМ-БАТТЕР ДЛЯ ТЕЛА <br>«УПРУГОСТЬ И ТОНУС»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="butter-cream" data-src="#modal-butter-cream-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">butter cream</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v3"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__coconut-left">
				<div class="carousel__title">КРЕМ-БАТТЕР <span>ДЛЯ ТЕЛА</span></div>
				<div class="carousel__subtitle">butter cream</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__rosem-left">
				<div class="carousel__img">
					<img src="@img/carousel-butter-cream/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">КРЕМ-БАТТЕР ДЛЯ ТЕЛА <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="butter-cream" data-src="#modal-butter-cream-3">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading _text-long">butter cream</div>
			</div>
		</div>
	</div>

</div>




<div id="modal-butter-cream-1" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Крем-баттер для тела — это самая драгоценная забота о вашей коже.</div>
			<div class="modal__text">Активный комплекс из ценных масел, в составе средства, эффективно повышает упругость кожи, восстанавливает естественный водный баланс и улучшает внешний вид кожи, препятствуя потере влаги. Натуральные масла и экстракты, в составе крем-баттера, оказывают регенерирующее действие, интенсивно питают и смягчают кожу, делая ее гладкой и бархатистой. Активные компоненты подарят упругость и эластичность, восстановят её барьерные функции.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-butter-cream/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">КРЕМ-БАТТЕР ДЛЯ ТЕЛА</div>
			<div class="modal__tag">уход</div>
		</div>
	</div>
</div>

<div id="modal-butter-cream-2" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло ши</div>
				<div class="modal__desc">питает, увлажняет, успокаивает и регенерирует кожу, помогает справиться с зудом или шелушением, защищает от вредного воздействия солнца и других внешних факторов;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов, обладает омолаживающим эффектом;
				</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло оливы</div>
				<div class="modal__desc">смягчает и оказывает омолаживающий эффект, против сухости и обезвоженности, способствует восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля, авокадо, кокоса и тыквы</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление, устраняют шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">экстракт ягод годжи</div>
				<div class="modal__desc">способствует укреплению иммунной системы, повышению уровня энергии и общего благополучия организма, обладает антиоксидантными, противовоспалительными и омолаживающими свойствами.</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">экстракты гуавы, боярышника, брусники и шиповника</div>
				<div class="modal__desc">подарят эластичность и максимальное увлажнение, восстановят барьерные функции кожи и успокоят ее.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-butter-cream/slide-2.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">КРЕМ-БАТТЕР ДЛЯ ТЕЛА <br>«УПРУГОСТЬ И ТОНУС»</div>
			<div class="modal__tag">Объём <b>300 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-butter-cream-3" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло кокоса</div>
				<div class="modal__desc">увлажняет, питает, обладает противовоспалительными и регенерирующими свойствами, хорошо очищает, является антиоксидантом, защищает кожу от негативных воздействий окружающей среды;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов, обладает омолаживающим эффектом;
				</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло оливы</div>
				<div class="modal__desc">смягчает и оказывает омолаживающий эффект, против сухости и обезвоженности, способствует восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля, авокадо и тыквы</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление, устраняют шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло розмарина</div>
				<div class="modal__desc">обладает антисептическим и регенерирующим действием,  успокаивает кожу, нормализует работу сальных желёз,придаёт коже бархатистость и ровный тон без жирного блеска.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-butter-cream/slide-3.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">КРЕМ-БАТТЕР ДЛЯ ТЕЛА <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
			<div class="modal__tag">Объём <b>300 мл</b></div>
		</div>
	</div>
</div>