<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">MИНИ-ФОРМАТЫ</div>
				<div class="carousel__subtitle">travel version</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r c-decor c-decor__xz-verbena-left-right">
				<div class="carousel__img">
					<img src="@img/carousel-travel-version/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">МИНИ-ФОРМАТЫ</div>
					<div class="carousel__text">Попробуйте новинку в тревел-формате первыми!</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">travel</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">MИНИ-ФОРМАТЫ</div>
				<div class="carousel__subtitle">travel version</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r c-decor c-decor__xz-verbena-left-center">
				<div class="carousel__img">
					<img src="@img/carousel-travel-version/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">КРЕМ-ЛОСЬОН ДЛЯ РУК И ТЕЛА <br>«ПИТАНИЕ И УВЛАЖНЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">travel</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">MИНИ-ФОРМАТЫ</div>
				<div class="carousel__subtitle">travel version</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r c-decor c-decor__bergamot-rosem-left-right-center">
				<div class="carousel__img">
					<img src="@img/carousel-travel-version/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«УВЛАЖНЕНИЕ И ПИТАНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">travel</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">MИНИ-ФОРМАТЫ</div>
				<div class="carousel__subtitle">travel version</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r c-decor c-decor__bergamot-left-right">
				<div class="carousel__img">
					<img src="@img/carousel-travel-version/slide-4.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ШАМПУНЬ ДЛЯ ВОЛОС <br>«ОБЪЕМ И ВОССТАНОВЛЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">travel</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">MИНИ-ФОРМАТЫ</div>
				<div class="carousel__subtitle">travel version</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r c-decor c-decor__pantenol">
				<div class="carousel__img">
					<img src="@img/carousel-travel-version/slide-5.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">БАЛЬЗАМ ДЛЯ ВОЛОС <br>«ОБЪЕМ И ВОССТАНОВЛЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">travel</div>
			</div>
		</div>
	</div>

</div>