<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__bergamot-left _v2">
				<div class="carousel__title">ЖИДКОЕ МЫЛО <span>ДЛЯ РУК</span></div>
				<div class="carousel__subtitle">liquid hand soap</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__rosem-left _rm-2">
				<div class="carousel__img">
					<img src="@img/carousel-liquid-hand-soap/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ЖИДКОЕ МЫЛО ДЛЯ РУК</div>
					<div class="carousel__text">Сочетание благородных масел, натуральных экстрактов и пантенола деликатно очищает кожу рук.</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="liquid-hand-soap" data-src="#modal-liquid-hand-soap-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hand soap</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ЖИДКОЕ МЫЛО <span>ДЛЯ РУК</span></div>
				<div class="carousel__subtitle">liquid hand soap</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__bergamot-left-right">
				<div class="carousel__img">
					<img src="@img/carousel-liquid-hand-soap/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ЖИДКОЕ МЫЛО ДЛЯ РУК <br>С ЭКСТРАКТОМ ВЕРБЕНЫ</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="liquid-hand-soap" data-src="#modal-liquid-hand-soap-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hand soap</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v2"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__bergamot-right">
				<div class="carousel__title">ЖИДКОЕ МЫЛО <span>ДЛЯ РУК</span></div>
				<div class="carousel__subtitle">liquid hand soap</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__rosem-right _rm-2">
				<div class="carousel__img">
					<img src="@img/carousel-liquid-hand-soap/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ЖИДКОЕ МЫЛО ДЛЯ РУК <br>С БИОКОМПЛЕКСОМ «7 МАСЕЛ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="liquid-hand-soap" data-src="#modal-liquid-hand-soap-3">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hand soap</div>
			</div>
		</div>
	</div>

</div>







<div id="modal-liquid-hand-soap-1" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Сочетание благородных масел, натуральных экстрактов и пантенола деликатно очищает кожу рук.</div>
			<div class="modal__text">Увлажняющая формула смягчает ее и защищает от сухости. Нежный аромат и изысканный дизайн флакона доставит удовольствие от использования и придаст элегантности вашей ванной комнате. Подходит для всех типов кожи.
				<br><br>
				Не содержит спирта и парабенов.
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-liquid-hand-soap/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">ЖИДКОЕ МЫЛО ДЛЯ РУК</div>
			<div class="modal__tag">очищение</div>
		</div>
	</div>
</div>

<div id="modal-liquid-hand-soap-2" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло жожоба</div>
				<div class="modal__desc">активно питает и смягчает кожу, насыщает кожу липидами, препятствует потере влаги;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло миндаля</div>
				<div class="modal__desc">глубоко питает и увлажняет кожу, снимает раздражение и воспаление;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">экстракт вербены</div>
				<div class="modal__desc">повышает упругость кожи, выравнивает рельеф, обладает противовоспалительными и антисептическими свойствами;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">экстракт груши</div>
				<div class="modal__desc">природный антиоксидант, смягчает, увлажняет и устраняет шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">экстракт шалфея</div>
				<div class="modal__desc">снимает раздражение и воспаление, контролирует работу сальных желез и восстанавливает естественный защитный слой кожи;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пантенол</div>
				<div class="modal__desc">питает, смягчает и увлажняет кожу.</div>
			</div>

		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-liquid-hand-soap/slide-2.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ЖИДКОЕ МЫЛО ДЛЯ РУК<br>С ЭКСТРАКТОМ ВЕРБЕНЫ</div>
			<div class="modal__tag">Объём <b>500 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-liquid-hand-soap-3" class="modal">
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов, обладает омолаживающим эффектом;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло тыквы</div>
				<div class="modal__desc">смягчает и устраняет шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло грейпфрута</div>
				<div class="modal__desc">тонизирует, делает кожу эластичной;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля и авокадо</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла розмарина и бергамота</div>
				<div class="modal__desc">обладают антисептическим и регенерирующим действием, успокаивают кожу;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пантенол</div>
				<div class="modal__desc">питает, смягчает и увлажняет кожу.</div>
			</div>

		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-liquid-hand-soap/slide-3.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ЖИДКОЕ МЫЛО ДЛЯ РУК<br>С БИОКОМПЛЕКСОМ «7 МАСЕЛ»</div>
			<div class="modal__tag">Объём <b>500 мл</b></div>
		</div>
	</div>
</div>