<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-xl-left"></div>
			<div class="s-decor-drops-center _v2"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__wheat-left">
				<div class="carousel__title">Шампунь</div>
				<div class="carousel__subtitle">shampoo for hair</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__bergamot-wheat-left-right">
				<div class="carousel__img">
					<img src="@img/carousel-shampoo/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ШАМПУНЬ ДЛЯ ВОЛОС</div>
					<div class="carousel__text">Уникальная формула шампуня, обогащенная благородными маслами</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="shampoo" data-src="#modal-shampoo-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">SHAMPOO</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-xl-left"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__bergamot-left _v3">
				<div class="carousel__title">Шампунь</div>
				<div class="carousel__subtitle">shampoo for hair</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__bergamot-left-center">
				<div class="carousel__img">
					<img src="@img/carousel-shampoo/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ШАМПУНЬ ДЛЯ ВОЛОС <br>«ОБЪЕМ И ВОССТАНОВЛЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="shampoo" data-src="#modal-shampoo-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">SHAMPOO</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-xl-left"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__wheat-left">
				<div class="carousel__title">Шампунь</div>
				<div class="carousel__subtitle">shampoo for hair</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__wheat-left-center">
				<div class="carousel__img">
					<img src="@img/carousel-shampoo/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ШАМПУНЬ ДЛЯ ВОЛОС <br>«ПИТАНИЕ И ВОССТАНОВЛЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="shampoo" data-src="#modal-shampoo-3">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">SHAMPOO</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-xl-left"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__olive-left _v2">
				<div class="carousel__title">Шампунь</div>
				<div class="carousel__subtitle">shampoo for hair</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__olive-left-center">
				<div class="carousel__img">
					<img src="@img/carousel-shampoo/slide-4.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ШАМПУНЬ ДЛЯ ВОЛОС <br>БЕССУЛЬФАТНЫЙ</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="shampoo" data-src="#modal-shampoo-4">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">SHAMPOO</div>
			</div>
		</div>
	</div>
</div>



<div id="modal-shampoo-1" class="modal">
	<div class="m-decor-drops-xl-left-bottom"></div>
	<div class="m-decor-drops-center"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Уникальная формула шампуня, обогащенная благородными маслами, объединяет эффективность традиционных компонентов и инновационных технологий, действуя направлено на восстановление структуры волос по всей длине.</div>
			<div class="modal__text">Нежная текстура шампуня превосходно очищает кожу головы и волосы. Купаж драгоценных масел интенсивно разглаживает, питает и активно увлажняет волосы, улучшает и усиливает структуру волос, придавая им здоровый натуральный вид.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-shampoo/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">ШАМПУНЬ ДЛЯ ВОЛОС</div>
			<div class="modal__tag">ОЧИЩЕНИЕ</div>
		</div>
	</div>
</div>

<div id="modal-shampoo-2" class="modal">
	<div class="m-decor-drops-xl-left-bottom"></div>
	<div class="m-decor-drops-top"></div>
	<div class="m-decor-bergamot-top"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">мощный антиоксидант, защищает от внешних неблагоприятных факторов, борется
					с ломкостью и секущимися кончиками, спасает от сухости и обезвоженности, способствует быстрому восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло марокканской арганы</div>
				<div class="modal__desc">смягчает и оказывает омолаживающий эффект, спасает от сухости и обезвоженности, способствует быстрому восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло бергамота</div>
				<div class="modal__desc">обладает антисептическим и регенерирующим действием, успокаивает кожу головы;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">фруктовая кислота цитрусовых</div>
				<div class="modal__desc">тщательно очищает волосы и кожу головы, приподнимает локоны у самых корней.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-shampoo/slide-2.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ШАМПУНЬ ДЛЯ ВОЛОС <br>«ОБЪЕМ И ВОССТАНОВЛЕНИЕ»</div>
			<div class="modal__tag">Объём <b>400 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-shampoo-3" class="modal">
	<div class="m-decor-drops-center-bottom _v4"></div>
	<div class="m-decor-macad-1-top"></div>
	<div class="m-decor-macad-2-bottom _v3"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">мощный антиоксидант, защищает от внешних неблагоприятных факторов, борется
					с ломкостью и секущимися кончиками, спасает от сухости и обезвоженности, способствует быстрому восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло марокканской арганы</div>
				<div class="modal__desc">смягчает и оказывает омолаживающий эффект, спасает от сухости и обезвоженности, способствует быстрому восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло бергамота</div>
				<div class="modal__desc">обладает антисептическим и регенерирующим действием, успокаивает кожу головы;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">кератин и экстракт зародышей пшеницы</div>
				<div class="modal__desc">заполняют поврежденную структуру волоса, предотвращая ломкость, удерживают влагу в волокнах волоса и сохраняют гидробаланс, интенсивно разглаживают кутикулу волос, делая их мягкими и сияющими, повышают эластичность и упругость;</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-shampoo/slide-3.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ШАМПУНЬ ДЛЯ ВОЛОС <br>«ПИТАНИЕ И ВОССТАНОВЛЕНИЕ»</div>
			<div class="modal__tag">Объём <b>400 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-shampoo-4" class="modal">
	<div class="m-decor-drops-center-bottom _v4"></div>
	<div class="m-decor-argana-2-top"></div>
	<div class="m-decor-argana-2-bottom"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">биотин</div>
				<div class="modal__desc">укрепляет волосяные луковицы, улучшает кровообращение кожи головы, предотвращает выпадение волос, регулирует деятельность сальных желез;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло марокканской арганы</div>
				<div class="modal__desc">смягчает и оказывает омолаживающий эффект, спасает от сухости и обезвоженности, способствует быстрому восстановлению после воздействия ультрафиолета;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">молочная кислота</div>
				<div class="modal__desc">активно питает и смягчает кожу головы, насыщает её липидами, препятствует потере влаги.</div>
			</div>
			<div class="modal__list">
				<div class="modal__text">Особая формула не содержит вредных компонентов, которые нарушают природную структуру волос — SLES, SLS и парабенов. Шампунь деликатно очищает, восстанавливает повреждения и приглаживает кутикулу волоса.</div>
			</div>
			<div class="modal__list">
				<div class="modal__text">Подходит для ежедневного использования для любых типов волос, даже окрашенных. Идеальное средство для ежедневного ухода за волосами после салонных процедур.</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-shampoo/slide-4.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ШАМПУНЬ ДЛЯ ВОЛОС <br>БЕССУЛЬФАТНЫЙ</div>
			<div class="modal__tag">Объём <b>400 мл</b></div>
		</div>
	</div>
</div>