<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__grapefruit-2-left">
				<div class="carousel__title">ГЕЛЬ-МАСЛО <span>ДЛЯ ДУША</span></div>
				<div class="carousel__subtitle">oil-in-gel</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-left-bottom _av-4">
				<div class="carousel__img">
					<img src="@img/carousel-oil-gel/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ДУША</div>
					<div class="carousel__text">Всего одно средство вместо тысячи, чтобы сделать вашу кожу великолепной!</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="oil-gel" data-src="#modal-oil-gel-1">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">oil-in-gel</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="s-decor-drops-center-bottom"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ГЕЛЬ-МАСЛО <span>ДЛЯ ДУША</span></div>
				<div class="carousel__subtitle">oil-in-gel</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__avocado-left-bottom _av-3">
				<div class="carousel__img">
					<img src="@img/carousel-oil-gel/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«ПИТАНИЕ И ВОССТАНОВЛЕНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="oil-gel" data-src="#modal-oil-gel-2">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">oil-in-gel</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ГЕЛЬ-МАСЛО <span>ДЛЯ ДУША</span></div>
				<div class="carousel__subtitle">oil-in-gel</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__grapefruit-2-left-bottom">
				<div class="carousel__img">
					<img src="@img/carousel-oil-gel/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«УВЛАЖНЕНИЕ И ПИТАНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="oil-gel" data-src="#modal-oil-gel-3">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">oil-in-gel</div>
			</div>
		</div>
	</div>

	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v4"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ГЕЛЬ-МАСЛО <span>ДЛЯ ДУША</span></div>
				<div class="carousel__subtitle">oil-in-gel</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__bergamot-rosem-left-right-bottom">
				<div class="carousel__img">
					<img src="@img/carousel-oil-gel/slide-4.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«ТОНУС И ПИТАНИЕ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox="oil-gel" data-src="#modal-oil-gel-4">Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">oil-in-gel</div>
			</div>
		</div>
	</div>

</div>








<div id="modal-oil-gel-1" class="modal">
	<div class="m-decor-drops-center _v2"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__logo _left">
				<img src="@img/logo-rich-oils.png" width="315" height="79" alt="" loading="lazy">
			</div>
			<div class="modal__info">Всего одно средство вместо тысячи, чтобы сделать вашу кожу великолепной!</div>
			<div class="modal__text">Гель-масло oil-in-gel — это современное средство для душа c маслами, которое нежно и бережно очищает и максимально увлажняет даже самую чувствительную кожу, не нарушая ее естественный гидролипидный баланс. При контакте с водой гель-масло превращается в бархатистую пену, окутывающую Вас тончайшим шлейфом благородного аромата и дарит ощущение нежности и комфорта во время ухода.</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__img">
				<img src="@img/carousel-oil-gel/slide-1.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name">ГЕЛЬ-МАСЛО ДЛЯ ДУША</div>
			<div class="modal__tag">уход</div>
		</div>
	</div>
</div>

<div id="modal-oil-gel-2" class="modal">
	<div class="m-decor-drops-top"></div>
	<div class="m-decor-drops-bottom"></div>
	<div class="m-decor-rosem-top"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло авокадо</div>
				<div class="modal__desc">глубоко питает и увлажняет кожу, успокаивает раздражение и воспаление;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло тимьяна</div>
				<div class="modal__desc"> обладает мощным антисептическим и восстанавливающим действием, регулирует работу сальных желез, очищает кожу от излишек себума, предотвращает появление жирного блеска и закупорку пор;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пантенол</div>
				<div class="modal__desc">питает, смягчает и увлажняет кожу;</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-oil-gel/slide-2.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«ПИТАНИЕ И ВОССТАНОВЛЕНИЕ»</div>
			<div class="modal__tag">Объём <b>400 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-oil-gel-3" class="modal">
	<div class="m-decor-drops-top"></div>
	<div class="m-decor-drops-bottom"></div>
	<div class="m-decor-argana-bottom _v2"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масло макадамии</div>
				<div class="modal__desc">антиоксидантное средство, защищает кожу от внешних неблагоприятных факторов,
					обладает омолаживающим эффектом;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло тыквы</div>
				<div class="modal__desc">смягчает и устраняет шелушение;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло грейпфрута</div>
				<div class="modal__desc">тонизирует, делает кожу эластичной;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла миндаля и авокадо</div>
				<div class="modal__desc">глубоко питают и увлажняют кожу, снимают раздражение и воспаление;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масла розмарина и бергамота</div>
				<div class="modal__desc">обладают антисептическим и регенерирующим действием, успокаивают кожу;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пантенол</div>
				<div class="modal__desc">питает, смягчает и увлажняет кожу;</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-oil-gel/slide-3.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«УВЛАЖНЕНИЕ И ПИТАНИЕ»</div>
			<div class="modal__tag">Объём <b>400 мл</b></div>
		</div>
	</div>
</div>

<div id="modal-oil-gel-4" class="modal">
	<div class="m-decor-drops-top"></div>
	<div class="m-decor-drops-bottom"></div>
	<div class="m-decor-argana-bottom _v2"></div>
	<div class="row">
		<div class="col-lg-6">
			<div class="modal__header">АКТИВНЫЕ <br>КОМПОНЕНТЫ</div>
			<div class="modal__list">
				<div class="modal__subheader">масла розмарина и бергамота</div>
				<div class="modal__desc">обладают антисептическим и регенерирующим действием, успокаивают кожу, нормализуют
					работу сальных желёз, придают коже бархатистость и ровный тон без жирного блеска;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">масло австралийского чайного дерева</div>
				<div class="modal__desc">обладает мощными антибактериальными, антигрибковыми и противовоспалительными свойствами, восстанавливает кожу, оказывает успокоительное действие, питает кожу, помогает при солнечных ожогах, устраняет угри, помогает при сухости, шелушении кожи;</div>
			</div>
			<div class="modal__list">
				<div class="modal__subheader">пантенол</div>
				<div class="modal__desc">питает, смягчает и увлажняет кожу;</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="modal__logo">
				<img src="@img/logo-rich-oils.png" width="163" height="41" alt="" loading="lazy">
			</div>
			<div class="modal__img">
				<img src="@img/carousel-oil-gel/slide-4.png" width="600" height="600" alt="" loading="lazy">
			</div>
			<div class="modal__name _gold">ГЕЛЬ-МАСЛО ДЛЯ ДУША OIL-IN-GEL <br>«ТОНУС И ПИТАНИЕ»</div>
			<div class="modal__tag">Объём <b>400 мл</b></div>
		</div>
	</div>
</div>