<div class="f-carousel carousel">
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-xl-center-bottom"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__bergamot-left _v2">
				<div class="carousel__title">ЖИДКОЕ МЫЛО <span>ДЛЯ РУК</span></div>
				<div class="carousel__subtitle">liquid hand soap</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__rosem-left _rm-2">
				<div class="carousel__img">
					<img src="@img/carousel-liquid-hand-soap/slide-1.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ЖИДКОЕ МЫЛО ДЛЯ РУК</div>
					<div class="carousel__text">Сочетание благородных масел, натуральных экстрактов и пантенола деликатно очищает кожу рук.</div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hand soap</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l">
				<div class="carousel__title">ЖИДКОЕ МЫЛО <span>ДЛЯ РУК</span></div>
				<div class="carousel__subtitle">liquid hand soap</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__bergamot-left-right">
				<div class="carousel__img">
					<img src="@img/carousel-liquid-hand-soap/slide-2.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ЖИДКОЕ МЫЛО ДЛЯ РУК <br>С ЭКСТРАКТОМ ВЕРБЕНЫ</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hand soap</div>
			</div>
		</div>
	</div>
	<div class="f-carousel__slide">
		<div class="row carousel__slide">
			<div class="s-decor-drops-left _v2"></div>
			<div class="s-decor-drops-left-bottom _v2"></div>
			<div class="col-lg-6 carousel__l l-decor l-decor__bergamot-right">
				<div class="carousel__title">ЖИДКОЕ МЫЛО <span>ДЛЯ РУК</span></div>
				<div class="carousel__subtitle">liquid hand soap</div>
				<div class="carousel__logo">
					<img src="@img/logo-rich-oils.png" width="214" height="54" alt="" loading="lazy">
				</div>
			</div>
			<div class="col-lg-6 carousel__r r-decor r-decor__rosem-right _rm-2">
				<div class="carousel__img">
					<img src="@img/carousel-liquid-hand-soap/slide-3.png" width="600" height="600" alt="" loading="lazy">
				</div>
				<div class="carousel__desc">
					<div class="carousel__name">ЖИДКОЕ МЫЛО ДЛЯ РУК <br>С БИОКОМПЛЕКСОМ «7 МАСЕЛ»</div>
					<div class="carousel__text"></div>
					<div class="carousel__button">
						<button class="btn btn_white" data-fancybox>Подробнее</button>
					</div>
				</div>
				<div class="carousel__heading">hand soap</div>
			</div>
		</div>
	</div>

</div>