<header class="header">
	<div class="content">
		<div class="header__wrapper">
			<div class="header__logo">
				<a href="/" aria-label="Главная страница">
					<img src="@img/logo.png" width="251" height="108" alt="" loading="lazy">
				</a>
			</div>

			<div class="header__nav">
				<nav class="nav" role="navigation">
					<input id="menu-toggle" class="menu-toggle" type="checkbox" />
					<label class="hamburger-box" for="menu-toggle">
						<div class="hamburger-inner"></div>
					</label>
					<div class="menu-wrapper">
						<ul class="nav__list">
							<li class="nav__item"><span class="nav__parent">БРЕНД РУССКАЯ КОСМЕТИКА</span>
								<ul class="nav__sub">
									<li><a href="mission.html" class="nav__link">миссия</a></li>
									<li><a href="about.html" class="nav__link">о марке</a></li>
									<li><a href="javascript:void(0)" class="nav__link">фото и видео</a></li>
								</ul>
							</li>
							<li class="nav__item"><span class="nav__parent">КОЛЛЕКЦИИ</span>
								<ul class="nav__sub">
									<li><a href="javascript:void(0)" class="nav__link">драгоценные масла</a></li>
									<li><a href="javascript:void(0)" class="nav__link">для волос</a></li>
									<li><a href="javascript:void(0)" class="nav__link">для тела</a></li>
									<li><a href="javascript:void(0)" class="nav__link">для лица</a></li>
									<li><a href="javascript:void(0)" class="nav__link">мини форматы</a></li>
								</ul>
							</li>
							<li class="nav__item"><span class="nav__parent">КУПИТЬ</span>
								<ul class="nav__sub nav_where-buy">
									<li><a href="javascript:void(0)" class="nav__link">1</a></li>
									<li><a href="javascript:void(0)" class="nav__link">2</a></li>
									<li><a href="javascript:void(0)" class="nav__link">3</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>