<div class="mission">
	<div class="mission__cards">
		<div class="mission__card">
			<div class="mission__card-h">Задача бренда</div>
			<div class="mission__card-t">показать женщине ее индивидуальность: красоту ее тела и души, окружив любовью и заботой. Ее тело, лицо, душа имеют свой код индивидуальности, мы лишь подчеркиваем их красоту!</div>
			<div class="mission__card-c">/01</div>
		</div>
		<div class="mission__card">
			<div class="mission__card-h">Исследуй свой код красоты</div>
			<div class="mission__card-t">вместе с Русской Косметикой. Обрети гармонию тела и души, будь роскошна в своих желаниях. Яркая индивидуальность - природная красота! Создай свой мир красоты!</div>
			<div class="mission__card-c">/02</div>
		</div>
		<div class="mission__card">
			<div class="mission__card-h">Вырази свою красоту</div>
			<div class="mission__card-t">через индивидуальность! Восхищайся собой! Внешняя привлекательность, внутренняя гармония, уникальное тело и лицо - русский код красоты.</div>
			<div class="mission__card-c">/03</div>
		</div>
		<div class="mission__card">
			<div class="mission__card-h">Наша жизнь</div>
			<div class="mission__card-t">череда событий, правил и законов, но мы точно знаем, что: счастье есть, успех придёт, любовь рядом!</div>
			<div class="mission__card-c">/04</div>
		</div>
	</div>
	<div class="mission__bgr">
		<div class="mission__logo">
			<img src="@img/logo.png" width="251" height="108" alt="" loading="lazy">
		</div>
		<div class="mission__header">Миссия</div>
	</div>
</div>