<div class="mission">
	<div class="mission__cards">
		<div class="mission__card">
			<div class="mission__card-h">Header</div>
			<div class="mission__card-t">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eligendi. Dolores asperiores cum sunt ullam veniam aliquam. Officiis sit earum facere laboriosam. Molestiae sint, dolore odio sit eaque rerum magni.</div>
			<div class="mission__card-c">/01</div>
		</div>
		<div class="mission__card"></div>
		<div class="mission__card"></div>
		<div class="mission__card"></div>
	</div>
	<div class="mission__bgr">
		<div class="mission__logo">
			<img src="@img/logo.png" width="251" height="108" alt="" loading="lazy">
		</div>
		<div class="mission__header">Миссия</div>
	</div>
</div>